body {
    padding: 30px;
   
}

#side {
    width: 12vw;
   
}

#main {
    width: 83vw;
    height: 72vh;
    overflow-y: auto;
}

.sidemenu {
    background-color: gainsboro;
    padding: 10px;
    height: 72vh;
}


.logo {
    height: 75px;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rcorners {
    border-radius: 25px;   
}

.topMenu li {
    margin-right: 25px;
}

.iconImage {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}

legend {
    padding: 2px;    
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.redBorder{
    border: solid;
    border-color: red;
    border-width: 1px;
    border-radius: 2px;
}

.pagePadding {
    padding: 5px;
}

.sidemenu {
    background-color: gainsboro;
    padding: 10px;
    height: 72vh;
}

.side {
    width: 12vw;
}

.main {
    width: 83vw;
    height: 72vh;
    overflow-y: auto;
}

.iconColor {
    color: white;
    text-align: center;
}

.greeting {
    float: right;
    color: black;
    padding-top: 30px;
}

.topPadding {
    padding-top: 20px;
}

.bottomPadding {
    padding-bottom: 20px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.drop-shadow {
    position:relative;
    float:left;
    width:40%;
    padding:1em;
    margin:2em 10px 4em;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.drop-shadow p {
    font-size:16px;
    font-weight:bold;
} 

/* Lifted corners */

.lifted {
    -moz-border-radius:4px;
    border-radius:4px;
}

.lifted:before,
.lifted:after {
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    max-height:100px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.lifted:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}